<section class="contact-w3ls">
  <div class="container">
    <div class="wthree-heading">
      <h2 class="w3l-titles">Recover password</h2>
      <p class="quia">Etiam sodales orci sit amet vehicula pellentesque</p>
    </div>
    <div class="con-top">
      <div class="col-lg-6 col-md-6 col-sm-6 contact-w3-agile2" data-aos="flip-left">
        <div class="contact-agileits">
          <h4>Change your new password</h4>
          </br>
          <div class="status alert alert-success" style="display: none"></div>

          <form name="changePasswords" id="changePasswords" class="form-contact">

            <div class="control-group form-group">
              <div class="controls">
                <label class="contact-p1">Password: </label>
                <input required ng-model="change.password" type="password" id="password" name="password" dir="auto" 
                class="form-control" ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&#.$($)$-$_])[A-Za-z\d$@$!%*?&#.$($)$-$_]{8,15}$/">
                <span class="text-danger" ng-show="!changePasswords.password.$valid && (changePasswords.password.$dirty || changePasswords.password.$touched)">The password is required</span>
                <span class="text-danger" ng-show="changePasswords.password.$error.password">The password is not valid</span>
                <span class="text-danger" ng-show="change.password != change.passwordRepeat && (changePasswords.password.$dirty || changePasswords.password.$touched)">The password is not the same</span>
              </div>
            </div>

            <div class="control-group form-group">
              <div class="controls">
                <label class="contact-p1">Password: </label>
                <input required ng-model="change.passwordRepeat" type="password" id="passwordRepeat" name="passwordRepeat" dir="auto" 
                class="form-control" ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&#.$($)$-$_])[A-Za-z\d$@$!%*?&#.$($)$-$_]{8,15}$/">
                <span class="text-danger" ng-show="!changePasswords.passwordRepeat.$valid && (changePasswords.passwordRepeat.$dirty || changePasswords.passwordRepeat.$touched)">The password is required</span>
                <span class="text-danger" ng-show="changePasswords.passwordRepeat.$error.passwordRepeat">The password is not valid</span>
                <span class="text-danger" ng-show="change.password != change.passwordRepeat && (changePasswords.passwordRepeat.$dirty || changePasswords.passwordRepeat.$touched)">The password is not the same</span>
              </div>
            </div>

            <button type="button" name="BtnForm" class="btn btn-primary" id="registerBtn" ng-show="changePasswords.password.$valid && changePasswords.passwordRepeat.$valid && change.password === change.passwordRepeat"
            ng-click="SubmitPasswords()">Send</button>
          </form>

        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 contact-w3-agile1" data-aos="flip-right">
        <h4 class="w3l-contact">Help</h4>
        <p class="contact-agile1"><strong>Phone :</strong> +1 (100)222-23-33</p>
        <p class="contact-agile1"><strong>Email :</strong> <a href="mailto:name@example.com">info@example.com</a></p>
        <p class="contact-agile1"><strong>Address :</strong> 132 New Lenox, 868 1st Avenue,4th United States.</p>   
        
        <ul class="agileits_social_list">
          <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
        </ul>
        <br/>
        <br/>
        <div class="alert_contact"></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</section>