<div id="contenido">
    <div class="prof">
        <div class="card hovercard">
            <div class="card-background">
                <img class="card-bkimg" alt="" src=""/>
            </div>
            <div class="useravatar">
                <img alt="" ng-src="{{info.avatar}}"/>
            </div>
            <div class="card-info"> 
                <span class="card-title">{{info.user}}</span>
            </div>
        </div>
        <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <button type="button" id="stars" class="btn btn-default" href="#tab1" data-toggle="tab">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                    <p class="hidden-xs">Stars</p>
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" id="favorites" class="btn btn-default" href="#tab2" data-toggle="tab">
                    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                    <p class="hidden-xs">Info</p>
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" id="following" class="btn btn-default" href="#tab3" data-toggle="tab">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    <p class="hidden-xs">Albums</p>
                </button>
            </div>
        </div>

        <div class="well">
          <div class="tab-content">
            <div class="tab-pane fade in active" id="tab1">
            <center>
              <h3>My wish list</h3>
            </center>
                <div class="prod_like" ng-show="MyWishListV">
                    <div ng-repeat="prodShop in prodsWishList | filter:search track by $index" id="{{prodShop.discid}}">
                        <br/>
                        <p>
                            <span class="cart-prods2"><a><img class="img_lis" ng-src="{{prodShop.discpic}}"/></a></span>
                            <h3><span class="cart-prods">{{prodShop.discname}}</span></h3>
                        </p>
                        <hr/>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade in" id="tab2">
                <center>
                  <h3>My profile</h3>
                    <div class='w3_two_grid_left1 cesta' ng-show="infoV">
                        <h4 class='padding_prof'><strong>EMAIL:</strong> {{info.email}}</h4>
                        <h4 class='padding_prof'><strong>NAME:</strong> {{info.name}}</h4>
                        <h4 class='padding_prof'><strong>LASTNAME:</strong> {{info.lastname}}</h4>
                        <h4 class='padding_prof'><strong>CITY:</strong> {{info.city}}</h4>
                        <h4 class='padding_prof'><strong>BIRTHDAY:</strong> {{info.date_birthday}}</h4>
                        <button id='edit_profile' ng-click="updateProfile()">Edit profile</button>
                        <div class='clearfix'></div>
                    </div>
                </center>
                <form id="userInfo" name="userInfo" class="form-contact" ng-show="updateInfoV">

                    <div class="msg" ></div>
                    <br/>
                    <button id="dropzonep" dropzonep="dropzoneProfile" class="dropzone"><img id="avatar_user" ng-src="{{info.avatar}}"/></button>

                    <center>

                        <div class='w3_two_grid_left1 cesta'>
                            <div class="control-group form-group">
                                <div class="controls">
                                  <label class="contact-p1">Email: </label>
                                  <input ng-model="update.emailUser" type="text" id="{{info.email}}" name="emaileUser" class="form-control" ng-value="info.email" readonly>
                                </div>
                            </div>

                            <div class="control-group form-group">
                                <div class="controls">
                                  <label class="contact-p1">Name: </label>
                                  <input ng-model="update.nameUser" type="text" id="{{info.name}}" name="nameUser" dir="auto" maxlength="20" class="form-control" ng-pattern="/^[0-9a-zA-Z]+[\-'\s]?[0-9a-zA-Z ]+$/" ng-value="info.name" placeholder="{{info.name}}">
                                  <span class="text-danger" ng-show="!userInfo.nameUser.$valid && (userInfo.nameUser.$dirty || userInfo.nameUser.$touched)">The name is not correct</span>
                                  <span class="text-danger" ng-show="userInfo.nameUser.$error.name">The username is not valid</span>
                                </div>
                            </div>

                            <div class="control-group form-group">
                                <div class="controls">
                                  <label class="contact-p1">Last Name: </label>
                                  <input ng-model="update.lastnameUser" type="text" id="{{info.lastname}}" name="lastnameUser" dir="auto"  maxlength="20" class="form-control" ng-pattern="/^[0-9a-zA-Z]+[\-'\s]?[0-9a-zA-Z ]+$/" ng-value="info.lastname" placeholder="{{info.lastname}}">
                                  <span class="text-danger" ng-show="!userInfo.lastnameUser.$valid && (userInfo.lastnameUser.$dirty || userInfo.lastnameUser.$touched)">The lastname is not correct</span>
                                  <span class="text-danger" ng-show="userInfo.lastnameUser.$error.lastname">The username is not valid</span>
                                </div>
                            </div>

                            <div>
                                <label class="contact-p1">City: </label>
                                <select class="form-control sel" name="citys" id="citys" ng-model="update.citys"ng-options="c as c.nm for c in citys" ng-change="selectArtist()" ng-value="info.city" id="{{info.city}}">
                                  <option value="">{{info.city}}</option>
                                </select>
                            </div>
                            
                            <div class="control-group form-group">
                                <div class="controls">
                                    <label class="contact-p1">Birthdate: </label>
                                    <input type="text" class="form-control sel" datepicker="" ng-model="update.date" placeholder="{{info.date_birthday}}" class=""/>
                                </div>
                            </div>
                        
                            <button id='save_edit_profile' ng-click="saveProfile()">Save</button>
                            <button id='cancel_edit_profile' ng-click="cancelProfile()">Cancel</button>
                            <div class='clearfix'></div>
                        </div>

                    </center>

                </form>
            </div>
            <div class="tab-pane fade in" id="tab3">
            <center>
              <h3>My Ratings</h3>
            </center>
                <div class="prod_rated" ng-show="MyRatingV">
                    <div ng-repeat="prodShop in prodsRated | filter:search track by $index" id="{{prodShop.discid}}">
                        <br/>
                        <p>
                            <span class="cart-prods2"><a><img class="img_lis" ng-src="{{prodShop.discpic}}"/></a></span>
                            <h3><span class="cart-prods">{{prodShop.discname}}</span></h3>
                            <h3><span class="cart-prods">{{prodShop.valoration}} STARS</span></h3>
                        </p>
                        <hr/>
                    </div>
                </div>
            </div>
          </div>
        </div>    
    </div>
</div>