<section class="contact-w3ls">
  <div class="container">
    <div class="wthree-heading">
      <h2 class="w3l-titles">Recover password</h2>
      <p class="quia">Etiam sodales orci sit amet vehicula pellentesque</p>
    </div>
    <div class="con-top">
      <div class="col-lg-6 col-md-6 col-sm-6 contact-w3-agile2" data-aos="flip-left">
        <div class="contact-agileits">
          <h4>Write youre email</h4>
          </br>
          <div class="status alert alert-success" style="display: none"></div>

          <form name="recoverPass" id="recoverPass" class="form-contact">

            <div class="control-group form-group">
              <div class="controls">
                <label class="contact-p1">Email:</label> 
                <input required ng-model="recover.emailRec" type="email" id="emailRec" name="emailRec" maxlength="70" ng-pattern="/^[a-z0-9!#$%&'*+/=?^_`{|}~.-]+@[a-z0-9-]+(\.[a-z0-9-]+)*$/i" class="form-control">
                <span class="text-danger" ng-show="recoverPass.emailRec.$error.required && (recoverPass.emailRec.$dirty || recoverPass.emailRec.$touched)">The email is required</span>
                <span class="text-danger" ng-show="recoverPass.emailRec.$error.email">The email is not valid</span>
              </div>
            </div>

            <div id="success"></div>

            <button type="button" name="BtnForm" class="btn btn-primary" id="recoverBtn" ng-show="recoverPass.emailRec.$valid"
            ng-click="SubmitEmail()">Send</button>
          </form>

        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 contact-w3-agile1" data-aos="flip-right">
        <h4 class="w3l-contact">Help</h4>
        <p class="contact-agile1"><strong>Phone :</strong> +1 (100)222-23-33</p>
        <p class="contact-agile1"><strong>Email :</strong> <a href="mailto:name@example.com">info@example.com</a></p>
        <p class="contact-agile1"><strong>Address :</strong> 132 New Lenox, 868 1st Avenue,4th United States.</p>   
        
        <ul class="agileits_social_list">
          <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
        </ul>
        <br/>
        <br/>
        <div class="alert_contact"></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</section>