<section class="contact-w3ls">
  <div class="container">
    <div class="wthree-heading">
      <h2 class="w3l-titles">Crete an account</h2>
      <p class="quia">Etiam sodales orci sit amet vehicula pellentesque</p>
    </div>
    <div class="con-top">
      <div class="col-lg-6 col-md-6 col-sm-6 contact-w3-agile2" data-aos="flip-left">
        <div class="contact-agileits">
          <h4>Form</h4>
          <div class="status alert alert-success" style="display: none"></div>
          <form id="loginForm" name="loginForm" class="form-contact">

				<div class="control-group form-group">
					<div class="controls">
						<label class="contact-p1">Username: </label>
						<input required ng-model="register.nameUser" type="text" id="nameUser" name="nameUser" dir="auto" maxlength="15" class="form-control" ng-pattern="/^[0-9a-zA-Z]+[\-'\s]?[0-9a-zA-Z ]+$/">
						<span class="text-danger" ng-show="!loginForm.nameUser.$valid && (loginForm.nameUser.$dirty || loginForm.nameUser.$touched)">The username is required</span>
						<span class="text-danger" ng-show="loginForm.nameUser.$error.username">The username is not valid</span>
					</div>
				</div>

				<div class="control-group form-group">
					<div class="controls">
						<label class="contact-p1">Password: </label>
						<input required ng-model="register.passwordUser" type="password" id="passwordUser" name="passwordUser" dir="auto" 
						class="form-control" ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&#.$($)$-$_])[A-Za-z\d$@$!%*?&#.$($)$-$_]{8,15}$/">
						<span class="text-danger" ng-show="!loginForm.passwordUser.$valid && (loginForm.passwordUser.$dirty || loginForm.passwordUser.$touched)">The password is required</span>
						<span class="text-danger" ng-show="loginForm.passwordUser.$error.password">The password is not valid</span>
						<span class="text-danger" ng-show="register.passwordUser != register.repasswordUser && (loginForm.passwordUser.$dirty || loginForm.passwordUser.$touched)">The password is not the same</span>
					</div>
				</div>

				<div class="control-group form-group">
					<div class="controls">
						<label class="contact-p1">Repeat the password: </label>
						<input required ng-model="register.repasswordUser" type="password" id="repasswordUser" name="repasswordUser" dir="auto"
						class="form-control" ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&#.$($)$-$_])[A-Za-z\d$@$!%*?&#.$($)$-$_]{8,15}$/">
						<span class="text-danger" ng-show="!loginForm.repasswordUser.$valid && (loginForm.repasswordUser.$dirty || loginForm.repasswordUser.$touched)">The password is required</span>
						<span class="text-danger" ng-show="loginForm.repasswordUser.$error.rePassword">The password is not valid</span>
						<span class="text-danger" ng-show="register.repasswordUser != register.passwordUser && (loginForm.repasswordUser.$dirty || loginForm.repasswordUser.$touched)">The password is not the same</span>
					</div>
				</div>

				<div class="control-group form-group">
	                <div class="controls">
	                    <label class="contact-p1">Email:</label> 
	                    <input required ng-model="register.emailUser" type="email" id="emailUser" name="emailUser" maxlength="70" ng-pattern="/^[a-z0-9!#$%&'*+/=?^_`{|}~.-]+@[a-z0-9-]+(\.[a-z0-9-]+)*$/i" class="form-control">
	                    <span class="text-danger" ng-show="loginForm.emailUser.$error.required && (loginForm.emailUser.$dirty || loginForm.emailUser.$touched)">The email is required</span>
	    				<span class="text-danger" ng-show="loginForm.emailUser.$error.email">The email is not valid</span>
	                </div>
	            </div>

                <div id="success"></div>

                <button type="button" name="BtnForm" class="btn btn-primary" id="registerBtn" ng-show="loginForm.nameUser.$valid && loginForm.emailUser.$valid && loginForm.passwordUser.$valid && loginForm.repasswordUser.$valid && register.passwordUser === register.repasswordUser"
           		ng-click="SubmitRegister()">Send</button>
          </form>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 contact-w3-agile1" data-aos="flip-right">
        <h4 class="w3l-contact">Help</h4>
        <p class="contact-agile1"><strong>Phone :</strong> +1 (100)222-23-33</p>
        <p class="contact-agile1"><strong>Email :</strong> <a href="mailto:name@example.com">info@example.com</a></p>
        <p class="contact-agile1"><strong>Address :</strong> 132 New Lenox, 868 1st Avenue,4th United States.</p>   
        
        <ul class="agileits_social_list">
          <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
        </ul>
        <br/>
        <br/>
        <div class="alert_contact"></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</section>