<section class="contact-w3ls">
  <div class="container">
    <div class="wthree-heading">
      <h2 class="w3l-titles">Sign In</h2>
      <p class="quia">Etiam sodales orci sit amet vehicula pellentesque</p>
    </div>
    <div class="con-top">
      <div class="col-lg-6 col-md-6 col-sm-6 contact-w3-agile2" data-aos="flip-left">
        <div class="contact-agileits">
          <h4>Form</h4>
          <div class="status alert alert-success" style="display: none"></div>
            <center>
              <ul class="agileits_social_list">
                <li><a id="loginfacebook" ng-click="SubmitLoginFb()" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true" style="cursor: pointer;"></i></a></li>
                <li><a id="logintwitter" ng-click="SubmitLoginTw()" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true" style="cursor: pointer;"></i></a></li>
                <li><a id="botonlogin" ng-click="SubmitLoginGo()" class="w3_agile_dribble"><i class="fa fa-google" aria-hidden="true" style="cursor: pointer;"></i></a></li>
              </ul>
            </center>   
            </br> 

            <form id="formSignin" name="formSignin" class="form-contact">

              <div class="control-group form-group">
                <div class="controls">
                  <label class="contact-p1">Username: </label>
                  <input required ng-model="login.userName" type="text" id="userName" name="userName" dir="auto" maxlength="15" class="form-control" ng-pattern="/^[0-9a-zA-Z]+[\-'\s]?[0-9a-zA-Z ]+$/">
                  <span class="text-danger" ng-show="!formSignin.userName.$valid && (formSignin.userName.$dirty || formSignin.userName.$touched)">The username is required</span>
                  <span class="text-danger" ng-show="formSignin.userName.$error.username">The username is not valid</span>
                </div>
              </div>

              <div class="control-group form-group">
                <div class="controls">
                  <label class="contact-p1">Password: </label>
                  <input required ng-model="login.Password" type="password" id="Password" name="Password" dir="auto" 
                  class="form-control" ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&#.$($)$-$_])[A-Za-z\d$@$!%*?&#.$($)$-$_]{8,15}$/">
                  <span class="text-danger" ng-show="!formSignin.Password.$valid && (formSignin.Password.$dirty || formSignin.Password.$touched)">The password is required</span>
                  <span class="text-danger" ng-show="formSignin.Password.$error.password">The password is not valid</span>
                </div>
              </div>

              <button type="button" name="BtnForm" class="btn btn-primary" id="registerBtn" ng-show="formSignin.userName.$valid && formSignin.Password.$valid"
              ng-click="SumbitLogin()">Send</button>

            <a class="btn_recover_pass" type="button" style="cursor: pointer;" ng-click="btnRecover()">Recover password</a>
            </br>
            <a class="btn_red_reg" type="button" style="cursor: pointer;" ng-click="btnRegister()">Register</a>
          </form>

        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 contact-w3-agile1" data-aos="flip-right">
        <h4 class="w3l-contact">More Info.</h4>
        <p class="contact-agile1"><strong>Phone :</strong> +1 (100)222-23-33</p>
        <p class="contact-agile1"><strong>Email :</strong> <a href="mailto:name@example.com">info@example.com</a></p>
        <p class="contact-agile1"><strong>Address :</strong> 132 New Lenox, 868 1st Avenue,4th United States.</p>   
        <br/>
        <br/>
        <div class="alert_contact"></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</section>