<section class="contact-w3ls">
	<div class="container">
		<div class="wthree-heading">
			<h2 class="w3l-titles">Contact Us</h2>
			<p class="quia">Etiam sodales orci sit amet vehicula pellentesque</p>
		</div>
		<div class="con-top">
		<div class="col-lg-6 col-md-6 col-sm-6 contact-w3-agile2" data-aos="flip-left">
			<div class="contact-agileits">
				<h4>Get In Touch</h4>
				<form id="contact_form" name="contact_form" class="form-contact">

					<div class="control-group form-group">
                        <div class="controls">
                            <label class="contact-p1">Full Name:</label> 
                            <input required ng-model="contact.name_contact" type="text" id="name_contact" name="name_contact" dir="auto" maxlength="100" class="form-control">
					        <span class="text-danger" ng-show="contact_form.name_contact.$error.required && (contact_form.name_contact.$dirty || contact_form.name_contact.$touched)">The name is required</span>
                        </div>
                    </div>

					<div class="control-group form-group">
                        <div class="controls">
                            <label class="contact-p1">Email:</label> 
                            <input required ng-model="contact.email_contact" type="email" id="email_contact" name="email_contact" maxlength="100" ng-pattern="/^[a-z0-9!#$%&'*+/=?^_`{|}~.-]+@[a-z0-9-]+(\.[a-z0-9-]+)*$/i" class="form-control">
                            <span class="text-danger" ng-show="contact_form.email_contact.$error.required && (contact_form.email_contact.$dirty || contact_form.email_contact.$touched)">The email is required</span>
            				<span class="text-danger" ng-show="contact_form.email_contact.$error.email">The email is not valid</span>
                        </div>
                    </div>

                    <div class="control-group form-group">
                        <div class="controls">
                            <label class="contact-p1">Subject:</label>
                            <input required ng-model="contact.subject_contact" type="text" id="subject_contact" name="subject_contact" dir="auto" maxlength="100" class="form-control">
                            <span class="text-danger" ng-show="contact_form.subject_contact.$error.required && (contact_form.subject_contact.$dirty || contact_form.subject_contact.$touched)">The subject is required</span>
						</div>
                    </div>

                    <div class="control-group form-group">
                        <div class="controls">
                            <label class="contact-p1">Message:</label>
                            <textarea required ng-model="contact.message_contact" class="input-block-level form-control" rows="4" id="message_contact" name="message_contact" style="max-width: 100%;" dir="auto"></textarea>
                            <span class="text-danger" ng-show="contact_form.message_contact.$error.required && (contact_form.message_contact.$dirty || contact_form.message_contact.$touched)">The comment is required</span>
						</div>
                    </div>

                    <div id="success"></div>
                    <button type="button" name="BtnForm" class="btn btn-primary" id="contact_btn" ng-show="contact_form.name_contact.$valid && contact_form.email_contact.$valid && contact_form.subject_contact.$valid && contact_form.message_contact.$valid"
               		ng-click="SubmitContact()">Send</button>
				</form>            
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 contact-w3-agile1" data-aos="flip-right">
			<h4 class="w3l-contact">Connect With Us</h4>
			<p class="contact-agile1"><strong>Phone :</strong> +1 (100)222-23-33</p>
			<p class="contact-agile1"><strong>Email :</strong> <a href="mailto:name@example.com">info@example.com</a></p>
			<p class="contact-agile1"><strong>Address :</strong> 132 New Lenox, 868 1st Avenue,4th United States.</p>		
			
			<ul class="agileits_social_list">
				<li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
				<li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
				<li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
			</ul>
			<br/>
			<br/>
			<div class="alert_contact"></div>
						
		</div>
		<div class="clearfix"></div>
		</div>
	</div>
</section>