<br/>
<br/>
<h2 class="w3l-titles">Cart</h2>
<br/>
<br/>
<p><span class="cart-prods">Album</span><span class="cart-prods">Qty</span><span class="cart-prods">Price</span><span class="cart-prods6">Delete</span></p>  
<hr/>
<div ng-repeat="prodShop in prodsShop | filter:search track by $index" id="{{prodShop.discid}}">
	<h3><span class="cart-prods">{{prodShop.discname}}</span></h3>
	<br/>
  	<p>
  		<span class="cart-prods2"><a><img class="img_lis" ng-src="{{prodShop.discpic}}"/></a></span>
      <select name="valor" ng-model="valor" ng-change="valorr(valor, prodShop.discid)" ng-show="tric" class="cart-prods3">
        <option ng-value="1">1</option>
        <option ng-value="2">2</option>
        <option ng-value="3">3</option>
        <option ng-value="4">4</option>
      </select>
      <span ng-show="tricV" class="glyphicon glyphicon-ok cart-prods3">{{prodShop.discdesc}}</span>
  		<span class="cart-prods4">{{prodShop.discprice}},00$</span>
  		<span class="cart-prods5"><a style="cursor: pointer;" ng-click="deleteItem(prodShop.discid)"><i class="fa fa-trash-o"></i></a></span>
  </p>
  <hr/>
</div>
<p ng-show="cartV"><span class="cart-prods7">Total: </span><span class="cart-prods8">{{total}}, 00$</span></p>
<hr/>
<div class="box-footer" style="margin-right: 350px; margin-left: 150px;" ng-show="cartV">
    <div class="pull-left">
        <a href="#/shop" class="btn btn-default"><i class="fa fa-chevron-left"></i> Continue shopping</a>
    </div>
    <div class="pull-right">
        <button type="submit" class="btn btn-primary" ng-click="checkout()">Proceed to checkout <i class="fa fa-chevron-right"></i>
        </button>
    </div>
</div>
<br/>
<br/>