<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close()" data-dismiss="modal">&times;</button>
    <h3 class="modal-title" id="modal-title">Info. Album</h3>
</div>
<div class="modal-body">
	<form id="formSignin" name="formSignin" class="form-contact" ng-show="noSingIn">

          <div class="control-group form-group">
            <div class="controls">
              <label class="contact-p1">Username: </label>
              <input required ng-model="login.userName" type="text" id="userName" name="userName" dir="auto" maxlength="15" class="form-control" ng-pattern="/^[0-9a-zA-Z]+[\-'\s]?[0-9a-zA-Z ]+$/">
              <span class="text-danger" ng-show="!formSignin.userName.$valid && (formSignin.userName.$dirty || formSignin.userName.$touched)">The username is required</span>
              <span class="text-danger" ng-show="formSignin.userName.$error.username">The username is not valid</span>
            </div>
          </div>

          <div class="control-group form-group">
            <div class="controls">
              <label class="contact-p1">Password: </label>
              <input required ng-model="login.Password" type="password" id="Password" name="Password" dir="auto" 
              class="form-control" ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&#.$($)$-$_])[A-Za-z\d$@$!%*?&#.$($)$-$_]{8,15}$/">
              <span class="text-danger" ng-show="!formSignin.Password.$valid && (formSignin.Password.$dirty || formSignin.Password.$touched)">The password is required</span>
              <span class="text-danger" ng-show="formSignin.Password.$error.password">The password is not valid</span>
            </div>
          </div>

          <button type="button" name="BtnForm" class="btn btn-default form-control" id="registerBtn" ng-show="formSignin.userName.$valid && formSignin.Password.$valid" ng-click="SumbitLoginCart()">Send</button>
      </form>
</div>
<div class="modal-footer" ng-show="noSingIn">
	<button class="btn btn-default form-control" ng-click="register()">Register</button>
</div>

<div class="modal-footer" ng-show="SingIn">

	<button class="btn btn-default form-control" ng-click="shop()">Shop</button>
</div>
