
<div class="about">
  <div class="container">
    
    <h2 class="w3l-titles">Welcome</h2>
    <center>
      <form class="form-search">
        <input type="text" ng-model="selectedAlbums" placeholder="Search Albums" 
        uib-typeahead="c as c.discname for c in albums | filter:$viewValue | limitTo:5" typeahead-min-length='1' 
        typeahead-on-select='onSelectPart($item, $model, $label)' class="form-control" style="max-width:600px;"/>
        <button ng-click="SelectedItem()"><a ng-click="SelectedItem()" class="glyphicon glyphicon-search"></a></button>
      </form>
      </br>
      </br>
      </br>
      </br>
    </center>
    <div class="lis"  ng-repeat="prods in products| filter:filtro" id="{{prods.discid}}">
      <div class="lis2">
        <a href='#/shop/{{prods.discid}}'><img class="img_lis" ng-src="{{prods.discpic}}"/></a>
        <p>{{prods.discname}}</p>
      </div>
    </div>
    <button class="load_more" ng-click="seeMore()" ng-show="loadMore">See more</button>
  </div>
</div>
  <div class="services-bottom stats services">
  <div class="banner-dott1">
    <div class="container">
    
      <div class="wthree-agile-counter">
      <div class="col-md-3 w3_agile_stats_grid-top">
      <div class="w3_agile_stats_grid">
        <div class="agile_count_grid_left">
          <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
        </div>
        <div class="agile_count_grid_right">
          <p class="counter">324</p> 
        </div>
        <div class="clearfix"> </div>
        <h4>Transport</h4>
      </div>
    </div>
    <div class="col-md-3 w3_agile_stats_grid-top">
      <div class="w3_agile_stats_grid">
        <div class="agile_count_grid_left">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        </div>
        <div class="agile_count_grid_right">
          <p class="counter">543</p> 
        </div>
        <div class="clearfix"> </div>
        <h4>Happy Clients</h4>
      </div>
    </div>
    <div class="col-md-3 w3_agile_stats_grid-top">
      <div class="w3_agile_stats_grid">
        <div class="agile_count_grid_left">
          <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
        </div>
        <div class="agile_count_grid_right">
          <p class="counter">434</p> 
        </div>
        <div class="clearfix"> </div>
        <h4>People Loved</h4>
      </div>
    </div>
    <div class="col-md-3 w3_agile_stats_grid-top">
      <div class="w3_agile_stats_grid">
        <div class="agile_count_grid_left">
          <span class="fa fa-trophy" aria-hidden="true"></span>
        </div>
        <div class="agile_count_grid_right">
          <p class="counter">234</p> 
        </div>
        <div class="clearfix"> </div>
        <h4>Win Awards</h4>
      </div>
    </div>
      <div class="clearfix"> </div>
    </div>
  </div>
  </div>
</div>
  <div class="two-grids">
    <div class="container">
      <h3 class="w3l-titles">Advantages</h3>
      <p class="w3layouts_dummy_para"> sed accumsan arcu gravida vitae. Nullam aliquam</p>
      <div class="col-md-6 w3_two_grid_right">
        <div class="w3_two_grid_right1">
          <div class="col-xs-3 w3_two_grid_right_grid">
            <div class="w3_two_grid_right_grid1">
              <i class="fa fa-hourglass-o" aria-hidden="true"></i>
            </div>
          </div>
          <div class="col-xs-9 w3_two_grid_right_gridr">
            <h4>amet tellus</h4>
            <p>Suspendisse bibendum ex sit amet tellus finibus ultrices.</p>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="w3_two_grid_right1">
          <div class="col-xs-3 w3_two_grid_right_grid">
            <div class="w3_two_grid_right_grid1">
              <i class="fa fa-clone" aria-hidden="true"></i>
            </div>
          </div>
          <div class="col-xs-9 w3_two_grid_right_gridr">
            <h4>finibus ultrices</h4>
            <p>Suspendisse bibendum ex sit amet tellus finibus ultrices.</p>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="w3_two_grid_right1">
          <div class="col-xs-3 w3_two_grid_right_grid">
            <div class="w3_two_grid_right_grid1">
              <i class="fa fa-external-link" aria-hidden="true"></i>
            </div>
          </div>
          <div class="col-xs-9 w3_two_grid_right_gridr">
            <h4>tellus finibus</h4>
            <p>Suspendisse bibendum ex sit amet tellus finibus ultrices.</p>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
      <div class="col-md-6 w3_two_grid_right">
        <div class="w3_two_grid_right1">
          <div class="col-xs-3 w3_two_grid_right_grid">
            <div class="w3_two_grid_right_grid1">
              <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
            </div>
          </div>
          <div class="col-xs-9 w3_two_grid_right_gridr">
            <h4>bibendum ex</h4>
            <p>Suspendisse bibendum ex sit amet tellus finibus ultrices.</p>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="w3_two_grid_right1">
          <div class="col-xs-3 w3_two_grid_right_grid">
            <div class="w3_two_grid_right_grid1">
              <i class="fa fa-check-square-o" aria-hidden="true"></i>
            </div>
          </div>
          <div class="col-xs-9 w3_two_grid_right_gridr">
            <h4>sit amet</h4>
            <p>Suspendisse bibendum ex sit amet tellus finibus ultrices.</p>
          </div>
          <div class="clearfix"> </div>
        </div>
        <div class="w3_two_grid_right1">
          <div class="col-xs-3 w3_two_grid_right_grid">
            <div class="w3_two_grid_right_grid1">
              <i class="fa fa-square-o" aria-hidden="true"></i>
            </div>
          </div>
          <div class="col-xs-9 w3_two_grid_right_gridr">
            <h4>tellus finibus</h4>
            <p>Suspendisse bibendum ex sit amet tellus finibus ultrices.</p>
          </div>
          <div class="clearfix"> </div>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
