</br>
</br>
<h2 class="w3l-titles">Albums</h2>
</br>
<div class='w3_two_grid_left1 mod'>
	<div class='col-xs-3 w3_two_grid_left_grid img_mod'><img ng-src="{{infoProds.discpic}}"></div>
	<h4 class='name_prod'>{{infoProds.discname}}</h4>
	<h4 class='studies_prod'>{{infoProds.artist}}</h4>
	<h3 class='stock'>{{infoProds.discprice}}.00$</h3>
	<p class='stock'>{{infoProds.discdesc}}</p>
	<div class='clearfix'></div>
</div>
</br>
<a href="#/shop"><img class="felcha" src="frontend/assets/img/flecha.png"/></a>
</br>
