</br>
</br>
<h2 class="w3l-titles">Albums</h2>

<div class="img_map">
  <h2 class="title_map">VER EL MAPA</h2>
  <a href='#/map'><img class="imp_map_c" src="frontend/assets/img/map.jpg"/></a>
</div>
<center>
  <form class="form-search">
    <input type="text" ng-model="selectedAlbums" placeholder="Search Albums" 
    uib-typeahead="c as c.discname for c in albums | filter:$viewValue | limitTo:5" typeahead-min-length='1' 
    typeahead-on-select='onSelectPart($item, $model, $label)' class="form-control" style="max-width:600px;"/>
    <button ng-click="SelectedItem()"><a ng-click="SelectedItem()" class="glyphicon glyphicon-search"></a></button>
  </form>
  </br>
  </br>
  </br>
  </br>
</center>

<div class="lis"  ng-repeat="prods in products | filter: { discname : filtro }" id="{{prods.discid}}">
  <div class="lis2">
    <a><img class="img_lis" ng-src="{{prods.discpic}}" ng-click="openModal(prods.discid)"/></a>
    <p>{{prods.discname}}</p>
    <p>{{prods.discprice}}.00$</p>
    <p class="Rating">Rating</p>
    <p class="clasificacion" ng-show="starsV">
        <input id="radio1" type="radio" name="estrellas" value="5" ng-click="FiveStars(prods.discid)">
        <label for="radio1">5★</label>
        <input id="radio2" type="radio" name="estrellas" value="4" ng-click="FourStars(prods.discid)">
        <label for="radio2">4★</label>
        <input id="radio3" type="radio" name="estrellas" value="3" ng-click="ThreeStars(prods.discid)">
        <label for="radio3">3★</label>
        <input id="radio4" type="radio" name="estrellas" value="2" ng-click="TwoStars(prods.discid)">
        <label for="radio4">2★</label>
        <input id="radio5" type="radio" name="estrellas" value="1" ng-click="OneStars(prods.discid)">
        <label for="radio5">1★</label>
    </p>
    <p>Total valorations({{prods.valoration}})</p>
    <p>{{prods.genre}} STARS</p>
    <button ng-click="addToCart(prods.discid)">Add to cart</button>
    <button ng-click="addToWishList(prods.discid)" ng-show="WishV">Wish list</button>
    <br/>
  </div>
</div>
<center>
  <br/>
  <br/>
  <div id="pager">
      <uib-pagination class="pagination-sm pagination" total-items="pros.length" ng-model="currentPage"
      ng-change="ChangePage()" previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page=4></uib-pagination>        
  </div>
</center>