<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="close()" data-dismiss="modal">&times;</button>
    <h3 class="modal-title" id="modal-title">Info. Album</h3>
</div>
<div class="modal-body">
	<div class='w3_two_grid_left1 mod'>
	    <div class='col-xs-3 w3_two_grid_left_grid img_mod'><img ng-src="{{infoProds.discpic}}"></div>
	    <h4 class='name_prod'>{{infoProds.discname}}</h4>
	    <h4 class='studies_prod'>{{infoProds.artist}}</h4>
	    <h3 class='stock'>{{infoProds.discprice}}.00$</h3>
	    <p class='stock'>{{infoProds.discdesc}}</p>
	    <div class='clearfix'></div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-default form-control" ng-click="close()">Close</button>
</div>
