<section class="contact-w3ls" ng-show="createV">
  <div class="container">
    <div class="wthree-heading">
      <h2 class="w3l-titles">Add new album</h2>
      <p class="quia">Etiam sodales orci sit amet vehicula pellentesque</p>
    </div>
    <div class="con-top">
      <div class="col-lg-6 col-md-6 col-sm-6 contact-w3-agile2" data-aos="flip-left">
        <div class="contact-agileits">
          <div class="status alert alert-success" style="display: none"></div>

          <form id="albumForm" name="albumForm" class="form-contact">

              <div class="control-group form-group">
                <div class="controls">
                  <label class="contact-p1">ID: </label>
                  <input required ng-model="create.idAlbum" type="text" id="idAlbum" name="idAlbum" dir="auto" minlength="5" maxlength="5" class="form-control" ng-pattern="/^[0-9]{5}$/">
                  <span class="text-danger" ng-show="!albumForm.idAlbum.$valid && albumForm.idAlbum.$error.required && (albumForm.idAlbum.$dirty || albumForm.idAlbum.$touched)">The ID is required</span>
                </div>
              </div>

              <div class="control-group form-group">
                <div class="controls">
                  <label class="contact-p1">Album name: </label>
                  <input required ng-model="create.nameAlbum" type="text" id="nameAlbum" name="nameAlbum" dir="auto" maxlength="100" class="form-control" ng-pattern="/^[0-9a-zA-Z]+[\-'\s]?[0-9a-zA-Z ]+$/">
                  <span class="text-danger" ng-show="!albumForm.nameAlbum.$valid && albumForm.nameAlbum.$error.required && (albumForm.nameAlbum.$dirty || albumForm.nameAlbum.$touched)">The name is required</span>
                </div>
              </div>

              <div class="control-group form-group">
                <div class="controls">
                  <label class="contact-p1">Price: </label>
                  <input required ng-model="create.priceAlbum" type="text" id="priceAlbum" name="priceAlbum" dir="auto" maxlength="4" class="form-control" ng-pattern="/^[0-9]{0,4}$/">
                  <span class="text-danger" ng-show="!albumForm.priceAlbum.$valid && albumForm.priceAlbum.$error.required && (albumForm.priceAlbum.$dirty || albumForm.priceAlbum.$touched)">The price is required</span>
                </div>
              </div>

              <div>
                <p class="input-group">
                  <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="create.dtEntry" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </p>
              </div>

              <div>
                <p class="input-group">
                  <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="create.dtExpiration" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </p>
              </div>

              <label class="contact-p1"><strong>Type:</strong></label>

              <div>
                <label class="contact-p1">Artist: </label>
                <select class="form-control sel" name="artist" id="artist" ng-model="create.artist"ng-options="c as c.name for c in artists" ng-change="selectArtist()">
                  <option selected>Select artist</option>
                </select>
              </div>

              <div>
                <labeL class="contact-p1">Genre: </label>
                <select class="form-control sel" name="genre" id="genre" ng-model="create.genre"ng-options="c as c.nombre for c in genres" ng-change="selectGenre()">
                  <option selected>Slect genre</option>
                </select>
              </div>

              <div>
              <label class="contact-p1">Subgenre: </label>
                <select class="form-control sel" name="subgenre" id="subgenre" ng-model="create.subgenre"ng-options="c as c.subgenre for c in subgenres">
                  <option selected>Select subgenre</option>
                </select>
              </div>

              <div class="control-group form-group">
                <div class="controls">
                  <label class="contact-p1">Format: </label>
                  CD <input type="checkbox" ng-true-value="'CD'" ng-model="create.CD" id="cd">
        		      Vinyl <input type="checkbox" ng-true-value="'Vinyl'" ng-model="create.Vinyl" id="vinyl">
        			    Mp3 <input type="checkbox" ng-true-value="'Mp3'" ng-model="create.Mp3" id="mp3">
        			    Cassete <input type="checkbox" ng-true-value="'Cassete'" ng-model="create.Cassete" id="cassete">
                </div>
              </div>

              <div class="control-group form-group">
                <div class="controls">
                  <label class="contact-p1">Valoration:</label><p>{{create.valoration}}</p>
                  <label class="asdf">
                    Bad <input name="valoration" id="valoration" ng-model="create.valoration" type="radio" value="Bad">
            				Good <input name="valoration" id="valoration" ng-model="create.valoration" type="radio" value="Good">
            				Very Good <input name="valoration" id="valoration" ng-model="create.valoration" type="radio" value="Very good">
                  </label>
                </div>
              </div>

              <div class="control-group form-group">
                <div class="controls">
                  <label class="contact-p1">Description: </label>
                  <textarea required ng-model="create.descAlbum" class="input-block-level form-control" rows="4" id="descAlbum" name="descAlbum" style="max-width: 100%;" dir="auto" ng-pattern="/^[0-9A-Za-z]{5,90}$/"></textarea>
                  <span class="text-danger" ng-show="!albumForm.descAlbum.$valid && albumForm.descAlbum.$error.required && (albumForm.descAlbum.$dirty || albumForm.descAlbum.$touched)">The description is required</span>
                </div>
              </div>

              <img id="avatar_user" src="" />
              <div class="msg" ></div>
              <br/>
              <button id="dropzone" dropzone="dropzoneConfig" class="dropzone"></button>
              
              <div id="success"></div>
              <button type="button" name="BtnForm" class="btn btn-primary" id="album_btn" ng-show="albumForm.idAlbum.$valid && albumForm.nameAlbum.$valid && albumForm.priceAlbum.$valid && albumForm.descAlbum.$valid"
              ng-click="SubmitAlbum()">Send</button>
          </form>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</section>

<div ng-show="listV">
  <br/>
  <section id="results-page">
    <div class="container">
      <div class="center">
          <h2>New Album!!</h2>
          <br/>
          <br/>
      </div>
      <div class="row contact-wrap">
          <div class="status alert alert-success" style="display: none"></div>
          <div class='w3_two_grid_left1 cesta'>
            <div class='img_alb'><img ng-src="{{create.img}}"></div>
              <h4>Name: {{create.nameAlbum}}</h4>
              <h4>ID: {{create.idAlbum}}</h4>
              <h4>Artist: {{create.artist.name}}</h4>
              <p>Price:  {{create.priceAlbum}}</p>
              <p>Date entry: {{create.dateE}}</p>
              <p>Date expiration: {{create.dateEx}}</p>
              <p>Valoration: {{create.valoration}}</p>
              <p>Format: {{create.format}}</p>
              <p>Description: {{create.descAlbum}}</p>
              <p>Genre: {{create.genre.nombre}}</p>
              <p>Subgenre: {{create.subgenre.subgenre}}</p>
            <div class='clearfix'></div>
          </div>
          <br/>
          <a ng-click="back()" style="cursor: pointer;"><img class="felcha" src="frontend/assets/img/flecha.png"/></a>
          <br/>
      </div>
    </div>
  </section>
</div>