<div>
    <div class="banner">
        <div class="banner-dott">
            <div class="top">
                <div class="container">
                    <div class="col-md-6 top-left">
                        <ul>
                            <li><i class="fa fa-mobile" aria-hidden="true"></i> +021 365 777</li>
                            <li><i class="fa fa-map-marker" aria-hidden="true"></i> 132 New Lenox, 868 1st Avenue </li>
                        </ul>
                    </div>
                    <div class="col-md-6 top-middle">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>    
            <div class="top-bar">
                <div class="container">
                    <div class="header">
                        <nav class="navbar navbar-default">
                            <div class="navbar-header navbar-left">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <h1><a class="navbar-brand" href="#/">Pla's Music</span></a></h1>
                            </div>
                            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1" ng-controller="menuController">
                                <nav class="cl-effect-15" id="cl-effect-15">
                                    <ul class="nav navbar-nav">
                                        <li><a href="#/" class="hvr-underline-from-center">Home</a></li>
                                        <li><a href="#/albums" ng-show="crudV" class="hvr-underline-from-center">Music</a></li>
                                        <li><a href="#/shop" class="hvr-underline-from-center">Shop</a></li>
                                        <li><a href="#/contact" class="hvr-underline-from-center">Contact</a></li>
                                        <li><a href="#/cart">Cart</a></li>
                                        <li><a href="#/login" ng-show="loginV" class="hvr-underline-from-center">Sign In</a></li>
                                        <li><a href="#/profile" ng-show="profileV" class="hvr-underline-from-center">Profile</a></li>
                                        <li><a style="cursor: pointer;" ng-show="logoutV" class="hvr-underline-from-center" ng-click="logout()">Logout</a></li>
                                    </ul>  
                                </nav>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="w3-banner">
                <div id="typer"></div>
                <p>Where words fail, music speaks.</p>
            </div>
        </div>
    </div>
</div>