<section class="contact-w3ls">
	<div class="container">
		<div class="wthree-heading">
			<h2 class="w3l-titles">Search your album!</h2>
			<p class="quia">Etiam sodales orci sit amet vehicula pellentesque</p>
		</div>
		<center>
			</br>
			</br>
			</br>
			</br>
		  	<form class="form-search" style="max-width: 500px;">
		    	<input type="text" ng-model="selectedCity" placeholder="Search Citys" 
		    	uib-typeahead="c as c.nm for c in citys | filter:$viewValue | limitTo:5" typeahead-min-length='1' 
		    	typeahead-on-select='onSelectPart($item, $model, $label)' class="form-control" style="max-width:500px;"/>
		    	<button ng-click="SelectedCity()"><a ng-click="SelectedItem()" class="glyphicon glyphicon-search"></a></button>
		  	</form>
		</center>
		<div class="con-top">
			<div class="col-lg-6 col-md-6 col-sm-6 contact-w3-agile2" data-aos="flip-left">
				<div class="contact-agileits">
					<h4>Map</h4>
					<div id="albumMap"></div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 contact-w3-agile1" data-aos="flip-right">
				<h4>Albums</h4>
				<div id="albums_map">
					<div class='w3_two_grid_left1 listt' ng-repeat="prods in products | filter: filtro" ng-click="viewAlbum(prods.discid)">
	                    <div class='col-xs-3 w3_two_grid_left_grid img_alb'><img ng-src="{{prods.discpic}}"></div>
	                    <h2 class='name_prod' id='{{prods.discid}}'>{{prods.discname}}</h2>
	                    <h2 class='studies_prod'>{{prods.discprice}}.00$</h2>
	                    <p class='dessc'>{{prods.discdesc}}</p>
	                    <div class='clearfix'></div>
		            </div>
		        </div>
							
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<a href="#/shop"><img class="felcha" src="frontend/assets/img/flecha.png"/></a>
</section>